.container {
    overflow-y: auto;
      height: 420px;
      width: 300px;
      z-index: 9999;
      position: fixed;
      background-color: #fff;
      margin: 105px 0 0 80px;
    padding: 5% 5%;
    border-radius: 40px;
    box-shadow: 0 8px 24px #00000040;
    margin-bottom: 4%;
    }
  
  
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .message {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .info {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #00a082;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    justify-content: center;
    height: 40px;
    width: 150px;
  }
  .buttonDiv {
    display: grid;
    justify-content: center;
    margin: 30px 0 15px 0;
  }