/*Todo RestaurantForm.module.css */

.formContainer {
  overflow-y: auto;

    height: 420px;
    width: 300px;
    z-index: 9999;
    position: fixed;
    background-color: #fff;
    margin: 105px 0 0 80px;
  padding: 5% 5%;
  border-radius: 40px;
  box-shadow: 0 8px 24px #00000040;
  margin-bottom: 4%;
  }
  
  .header {
    text-align: center;
  }
  
  .formGroup {
    margin: 10px 0;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .submitButton {
    display: grid;
  justify-content: center;
  margin: 30px 0 15px 0;          
  }
  

  .submitButtonSon {
    color: white;
    background-color: #00a082;
    height: 40px;
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border-radius: 25px;
  }
  