.container {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 20px;
  gap: 20px;
  background-color: brown;
  height: 620px;
}
.box1 {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(171, 180, 180);
  border-radius: 5px;
}

/* .box2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  padding: 10px;
  border: 1px solid grey;
  height: 400px;
} */
.input {
  grid-column: 5 / 6;
  height: 30px;
  width: 150px;
}
.h2 {
  grid-column: 3 / 4;
}

.p {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  color: white;
}

.divFondoPantalla {
  background-image: url("../../assets/images/burger.jpg");
  background-size: cover; /* Asegura que la imagen cubra todo el div */
  background-position: center; /* Centra la imagen en el div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 90vh; /* O ajusta según tus necesidades */
  width: 97%; /* Ancho completo */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  padding: 10px;
  height: 600px;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
p {
  color: white;
  grid-row: 7 / 8;
}
h2 {
  color: rgb(118, 122, 126);
  grid-row: 2 / 3;
}
