.restaurant-store{
    position: absolute;
    display: flex;
    width: 120%;
    height: 100vh;
}
.pretzel{
    width: 250px;
    height: 250px;
}
.logo-contenidor{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 75%;
    left: 500px;
    height: 203px;
    top: 60px;
    padding: 32px 48px 32px 24px;
    border-radius: 12px 64px 4px 12px ;
    background-color: #ffc244;
    z-index: +1;
    box-shadow: 3px #0000001A;
  }
  .icons{
    position: relative;
    display: flex;
    justify-content: start;
    font-size: 15px;
    margin-right: 500px;
  }
  .navigation-bar{
    position: relative;
    width: 800px;
    height: 50px;
    right: 600px;
    top: 331px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 24px;
    
  }
  button{
    background-color: lightgray;
    border-radius: 5px;
    border: none;
  }
  input{
    background-color: lightgray;
    height: 48px;
    
    width: 771px;
    border-radius: 24px;
    border: none;
  }