#root {

  font-family: "quicksand", Inter, system-ui, Avenir, Helvetica, Arial,

    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;

  --primary-color: #ffc244;
  --secondary-color: #00a082;
}

body {
  height: 100vh;
}

