.listContainer {
  max-height: 38vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  border-radius: 20px;
  position: fixed;
  width: 235px;
  padding: 5px;
}

.listContainer::-webkit-scrollbar {
  width: 0;
}

.individualPlace {
  background-color: var(--primary-color);

  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

.individualPlace:hover {
  background-color: var(--secondary-color);
  color: white;
}
