.pac-container {
  background-color: transparent;
  position: absolute !important;
  box-shadow: 0 0 0 0;
  height: fit-content;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0;
  background-color: rgb(225, 225, 225);
  padding: 5px;
  border-radius: 20px;
}

.pac-container::-webkit-scrollbar {
  display: none;
}

.pac-item {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  cursor: pointer;
  transition: 0.3s;
}

.pac-item-query {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.pac-container > img {
  display: none;
}

.pac-icon {
  display: none;
}

.pac-item-query {
  padding: 0;
  margin: 0;
  font-family: "quicksand";
}

span {
  display: flex;
  font-family: "quicksand";
}

.hdpi.pac-logo:after {
  display: none;
}
